body {
    background-color: rgb(192, 136, 68);
    color: white;
}

.row {
    margin: 20px;
}

.col-4 {
    background-color: rgb(47, 34, 17);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}


.col-7 {
    background-color: rgb(240, 198, 108);
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}