body {
    background-color: rgb(192, 136, 68);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    color: white;
    font-family: arial;
}

h1 {
    font-size: 60px;
    color: #537724;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 4px 0 black, 0 -1px black;
}

.row {
    margin: 20px;
}

.col-4 {
    background-color: #790d2a;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}


.col-7 {
    background-color: #858278;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
}

hr {
    border-color: #ffffff;
    border-width: 3px;
}

.btn.btn-warning {
    font-size: 20px;
    color: white;
    border: solid;
    border-color: white;
    border-width: 2px;
    padding: 5px;
    font-weight: bold;
}

.input-group-text {
    background-color: #790d2a;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.form-select,
.form-control {
    font-size: 18px;
    color: black;
}

.card {
    color: black;
    background-color: #c5c1b4;
    padding: 10px;
}